export(addRow)
export(clearStrategy)
export(closeStrategy)
export(drawRows)
export(endSession)
export(getStrategy)
export(getRemoteChartUrl)
export(getRow)
export(listStrategies)
export(openStrategy)
export(startSession)
export(undoStrategy)
export(viewStrategy)
import(httr)
import(jsonlite)
import(lubridate)
import(xts)
import(rhandsontable)
import(DT)
importFrom("stats", "runif")
importFrom("utils", "View", "browseURL")